body {
	background-color: #f2f2f2;
}

#root,
.container {
	display: flex;
	justify-content: center;
	/* height: 100vh; */
}

.loader {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 600;
	font-size: 24px;
}